a .logo{
    float:left;
    margin-top:0px;
    margin-right:50px;
}
.row.content {
height: 450px
}

.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}
footer {
      background-color: #555;
      color: white;
      padding: 15px;
}


button.captcha-refresh {
    color: white;
    border: 1px solid #FB8F3D;
    background: -webkit-linear-gradient(top, #FDA251, #FB8F3D);
    background: -moz-linear-gradient(top, #FDA251, #FB8F3D);
    background: -ms-linear-gradient(top, #FDA251, #FB8F3D);
}

button.captcha-refresh:hover {
    border: 1px solid #EB5200;
    background: -webkit-linear-gradient(top, #FD924C, #F9760B);
    background: -moz-linear-gradient(top, #FD924C, #F9760B);
    background: -ms-linear-gradient(top, #FD924C, #F9760B);
    box-shadow: 0 1px #EFEFEF;
}

button.captcha-refresh:active {
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
}