body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18 px;
}
header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
}
header h1 a {
    color: red;
    text-decoration: none;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}
.post-entry {
    margin-bottom: 2rem;
}
.post-entry h2 {
    margin: 0.5rem 0;
}
.post-entry h2 a,
.post-entry h2 a:visited {
    color: blue;
    text-decoration: none;
}

.post-entry p {
    margin: 0;
    font-weight: 400;
}
.post-entry h2 a:hover {
    color: red;
}
/* стили для страницы просмотра заметок */
.view_created_notes {
    background-color: #7fff00;
    border-width: thick;
    border-style: groove;
    border-color: #cacd58;
    border-radius: 10px;
    margin:auto;
}
.view_created_notes h1 {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida 	Typewriter", monospace;
    font-size: 50px;
}
.year_number {
    font-size: 36px;
	font-family: "Times New Roman", Georgia, fantasy;
	font-weight: bold;
}
.view_notes_as_participant {
    background-color: #e58312;
    border-width: thick;
    border-style: groove;
    border-color: #cacd58;
    border-radius: 10px;
}

.view_notes_as_participant h1 {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida 	Typewriter", monospace;
    font-size: 50px;
}