{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Добавление нового товара
{% endblock title %}

{% block content %}
<h1>Добавление изображения нового товара</h1>

<form method="POST" action="{% url 'add_image_product' %} " enctype="multipart/form-data" class="post-form">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Добавить изображение" />
</form>

<form method="GET" action="{% url 'add_new_product' %} " enctype="multipart/form-data" class="post-form">
     <input type="submit" value="Добавить продукт" />
</form>
{% endblock content %}}