{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diary</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro: stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a class="navbar-brand" href="/">Diary</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">

        {% if user.is_authenticated %}
            <div class="navbar-nav mr-auto">
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'add_new_note' %}">Add new note</a>
                </div>
            </div>
            <div class="navbar-nav ml-auto">
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'notes_current_user' %}">Hi, {{ user.username }}!</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
            {% else %}
            <div class="navbar-nav ml-auto">
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
                </div>
            </div>
            {% endif %}
      </div>
    </nav>
    <br>

    {% block content %}
    {% endblock %}

</body>
</html>