{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Diary</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro: stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
</head>
<body>
    <div class="container">
        <header>
            <div class="nav-left">
                <h1><a href="/">Diary</a></h1>
            </div>
            <div class="nav-right">
                <a href="{% url 'add_new_note' %}">+ New Blog Note</a>
            </div>
        </header>

        <!-- checking user authentication-->
        {% if user.is_authenticated %}
        <p>Hi, <a href="{% url 'notes_current_user' %}">{{ user.username }}</a> !</p>
            <p><a href="{% url 'logout' %}">logout</a></p>
        {% else %}
            <p>You are not logged in.</p>
            <a href="{% url 'login' %}">login</a><br>
            <a href="{% url 'signup' %}">signup</a>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>