{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="post-entry" id="note_details">
        <h2 id="note_heading"><u>{{ note.note_heading }}</u></h2>

        {% if not edit_flag %}
            <p><h3 id="user">Creator of note: </h3>{{ note.user }}</p>
        {% endif %}

        <p><h3 id="date">Date: </h3>{{ note.date }}</p>
        <p><h3 id="description">Description of note: </h3>{{ note.text }}</p>
        {% if note.participants.all %}
            <h3 id="participants">Participants</h3>
            {% for participant in note.participants.all %}
                <p>{{ participant }}</p>
            {% endfor %}
        {% endif %}
    </div>

    {% if edit_flag %}
    <a href="{% url 'note_edit' note.pk %}">+ Edit Note</a>
    <a href="{% url 'note_delete' note.pk %}">+ Delete Note</a>
    <p>
        + Add participant
        <form method="POST" action="{% url 'add_participant' note.pk %}" id="add_participant">
            {% csrf_token %}
            <label>Participant's name: </label>
            <input type="text" name="participant" id="participant">
            <input type="submit" value="Add">
        </form>
    </p>
    {% endif %}
    <script src="{% static 'js/ajax.js' %}">
    </script>
{% endblock %}


