{% extends 'base.html' %}
{% load note_current_user_tags %}

{% block content %}
    {% if created_notes %}
        <div class="view_created_notes">
            <h1>Created notes</h1>
            {% regroup created_notes by Year as years %}
            {% for year in years %}
                <h1>{{ year.grouper }}</h1>
                {% regroup year.list by month as months %}
                {% for month in months %}
                    <h2>{{ month.grouper| month_name }}</h2>
                    {% for note in month.list %}
                        <h2><a href="{% url 'details_note' note.pk %}">{{ note.note_heading }}</a></h2>
                        <p>{{ note.date }}</p>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    {% if notes_as_participant %}
        <div class="view_notes_as_participant">
            <h1>Notes as participant</h1>
            {% regroup notes_as_participant by Year as years %}
            {% for year in years %}
                <h1>{{ year.grouper }}</h1>
                {% regroup year.list by month as months %}
                {% for month in months %}
                    <h2>{{ month.grouper| month_name }}</h2>
                    {% for note in month.list %}
                        <h2><a href="{% url 'details_note' note.pk %}">{{ note.note_heading }}</a></h2>
                        <p>{{ note.date }}</p>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock content%}
