body{
	background:url('https://metvcdn.metv.com/LCen0-1545861875-1108-quiz_question_image_-4_50_pink_panther.jpg') no-repeat center center #2f2f2f;
	position: fixed; 
	width: 100%; 
	height: 100%;
	background-attachment: fixed;
	overflow: auto;
	-moz-background-size:100% 100%; 
    -webkit-background-size:100% 100%; 
	background-size:100% 100%; 
}
header{
	font-family: Luminari, fantasy;
	font-weight: 900;
	font-stretch: ultra-expanded;
	font-size: xx-large;
	color:#cc2152;
}


button{
	position: relative;
	display: inline-block;
	font-size: 90%;
	font-weight: 700;
	color: rgb(209,209,217);
	text-decoration: none;
	text-shadow: 0 -1px 2px rgba(0,0,0,.2);
	padding: .5em 1em;
	outline: none;
	border-radius: 3px;
	background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
	box-shadow: 0 1px rgba(255,255,255,.2) inset, 0 3px 5px rgba(0,1,6,.5), 0 0 1px 1px rgba(0,1,6,.2);
	transition: .2s ease-in-out;
}


footer{
	font-family:Bradley Hand, cursive;
	
}